# City Bike Data Cleanup

What are we trying to find answer to??

Focus on New jersey 

Improving New jersey 

Top 10 population station in the city to end at? and why are they popular?

Average Distancce in miles for a bike trip

Peak hours during the Christmas period

Changes in members/casual users over the recent months

Duration of trip vs distance

In [15]:
#Import modules
import os
import pandas as pd 
import sys
import numpy as np
import math

#Set print options
np.set_printoptions(threshold=sys.maxsize)

In [16]:
#Load data 

path = "Resources/JC-202312-citibike-tripdata.csv"
path1 = "Resources/JC-202311-citibike-tripdata.csv"
path2 = "Resources/JC-202310-citibike-tripdata.csv" 

Bike_2023_12 = pd.read_csv(path)
Bike_2023_11 = pd.read_csv(path1)
Bike_2023_10 = pd.read_csv(path2)

In [17]:
Bike_2023_12.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,DAE3C13A5FAAB089,classic_bike,2023-12-29 16:02:20,2023-12-29 16:10:17,Brunswick St,JC023,Communipaw & Berry Lane,JC084,40.724016,-74.050550,40.714358,-74.066611,member
1,1EC6BE46ACF2DE11,classic_bike,2023-12-06 01:58:32,2023-12-06 02:04:48,Brunswick St,JC023,Oakland Ave,JC022,40.724135,-74.050686,40.737604,-74.052478,casual
2,105CA439B9CBF57C,classic_bike,2023-12-06 20:15:11,2023-12-06 20:21:02,Brunswick St,JC023,Oakland Ave,JC022,40.723990,-74.050639,40.737604,-74.052478,member
3,DC1C46F6090FA1DB,classic_bike,2023-12-09 13:54:19,2023-12-09 13:56:48,Brunswick St,JC023,Manila & 1st,JC082,40.723983,-74.050732,40.721651,-74.042884,casual
4,04EAEAAD6D32A664,classic_bike,2023-12-02 17:30:34,2023-12-02 17:37:26,Brunswick St,JC023,Riverview Park,JC057,40.724011,-74.050686,40.744319,-74.043991,member

In [18]:
Bike_2023_11.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,1156A0D0E2EB60CB,classic_bike,2023-11-19 12:08:48,2023-11-19 12:28:53,Jackson Square,JC063,Baldwin at Montgomery,JC020,40.711130,-74.078900,40.723659,-74.064194,casual
1,9A6D99BAED3AE106,classic_bike,2023-11-05 18:21:56,2023-11-05 18:25:36,Madison St & 10 St,HB503,Mama Johnson Field - 4 St & Jackson St,HB404,40.750044,-74.035878,40.743140,-74.040041,casual
2,CC3F75A6310A2625,classic_bike,2023-11-12 11:36:41,2023-11-12 11:42:04,Madison St & 10 St,HB503,Mama Johnson Field - 4 St & Jackson St,HB404,40.750100,-74.035852,40.743140,-74.040041,casual
3,3BF4E21F0D5BCB98,classic_bike,2023-11-08 15:04:23,2023-11-08 15:20:23,Jackson Square,JC063,Hilltop,JC019,40.711130,-74.078900,40.731169,-74.057574,member
4,1B7E5ADCABC46F0E,classic_bike,2023-11-22 09:08:22,2023-11-22 09:14:23,Mama Johnson Field - 4 St & Jackson St,HB404,River St & 1 St,HB609,40.743148,-74.040053,40.737215,-74.028865,member

In [19]:
Bike_2023_10.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,56269E94B2206375,classic_bike,2023-10-31 11:52:42,2023-10-31 12:03:33,McGinley Square,JC055,Marin Light Rail,JC013,40.725340,-74.067622,40.714584,-74.042817,member
1,2B2F6514026F5C68,classic_bike,2023-10-16 08:24:33,2023-10-16 08:35:28,Astor Place,JC077,Grove St PATH,JC115,40.719299,-74.071357,40.719410,-74.043090,member
2,3716C0E2166FE548,classic_bike,2023-10-21 11:46:26,2023-10-21 11:56:30,McGinley Square,JC055,Grove St PATH,JC115,40.725428,-74.067577,40.719410,-74.043090,member
3,E06BF0A228598DDF,classic_bike,2023-10-26 09:42:42,2023-10-26 09:51:28,Astor Place,JC077,Marin Light Rail,JC013,40.719267,-74.071328,40.714584,-74.042817,member
4,1EA3E3FFB17B6B16,classic_bike,2023-10-22 13:20:54,2023-10-22 15:00:09,McGinley Square,JC055,Grove St PATH,JC115,40.725340,-74.067622,40.719410,-74.043090,casual

In [20]:
# Check Count 
print("12: " + str(len(Bike_2023_12)))
print("11: " + str(len(Bike_2023_11)))
print("10: " + str(len(Bike_2023_10)))

12: 58680
11: 75646
10: 97584

In [21]:
# Print dataframe info
print(Bike_2023_12.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58680 entries, 0 to 58679
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             58680 non-null  object
 1   rideable_type       58680 non-null  object
 2   started_at          58680 non-null  object
 3   ended_at            58680 non-null  object
 4   start_station_name  58676 non-null  object
 5   start_station_id    58676 non-null  object
 6   end_station_name    58441 non-null  object
 7   end_station_id      58441 non-null  object
 8   start_lat           58680 non-null  float64
 9   start_lng           58680 non-null  float64
 10  end_lat             58638 non-null  float64
 11  end_lng             58638 non-null  float64
 12  member_casual       58680 non-null  object
dtypes: float64(4), object(9)
memory usage: 5.8+ MB
None

In [22]:
# Print dataframe info
print(Bike_2023_11.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75646 entries, 0 to 75645
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             75646 non-null  object
 1   rideable_type       75646 non-null  object
 2   started_at          75646 non-null  object
 3   ended_at            75646 non-null  object
 4   start_station_name  75637 non-null  object
 5   start_station_id    75637 non-null  object
 6   end_station_name    75407 non-null  object
 7   end_station_id      75407 non-null  object
 8   start_lat           75646 non-null  float64
 9   start_lng           75646 non-null  float64
 10  end_lat             75615 non-null  float64
 11  end_lng             75615 non-null  float64
 12  member_casual       75646 non-null  object
dtypes: float64(4), object(9)
memory usage: 7.5+ MB
None

In [23]:
# Print dataframe info
print(Bike_2023_10.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97584 entries, 0 to 97583
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             97584 non-null  object
 1   rideable_type       97584 non-null  object
 2   started_at          97584 non-null  object
 3   ended_at            97584 non-null  object
 4   start_station_name  97579 non-null  object
 5   start_station_id    97579 non-null  object
 6   end_station_name    97207 non-null  object
 7   end_station_id      97207 non-null  object
 8   start_lat           97584 non-null  float64
 9   start_lng           97584 non-null  float64
 10  end_lat             97497 non-null  float64
 11  end_lng             97497 non-null  float64
 12  member_casual       97584 non-null  object
dtypes: float64(4), object(9)
memory usage: 9.7+ MB
None

In [24]:
# Check Counts and columns
print("Count of rows of dataframe: " + str(len(Bike_2023_12["ride_id"].unique())))
print("Rideable types: " + str(len(Bike_2023_12["rideable_type"].unique())))
print("Station Name count: " + str(len(Bike_2023_12["start_station_name"].unique())))
print("Ride Type: " + Bike_2023_12["rideable_type"].unique())
print("Member type: " + Bike_2023_12["member_casual"].unique())

Count of rows of dataframe: 58680
Rideable types: 2
Station Name count: 120
['Ride Type: classic_bike' 'Ride Type: electric_bike']
['Member type: member' 'Member type: casual']

In [25]:
#Change date time 
Bike_2023_12['started_at'] = pd.to_datetime(Bike_2023_12["started_at"])
Bike_2023_12['ended_at'] = pd.to_datetime(Bike_2023_12["ended_at"])
Bike_2023_11['started_at'] = pd.to_datetime(Bike_2023_11["started_at"])
Bike_2023_11['ended_at'] = pd.to_datetime(Bike_2023_11["ended_at"])
Bike_2023_10['started_at'] = pd.to_datetime(Bike_2023_10["started_at"])
Bike_2023_10['ended_at'] = pd.to_datetime(Bike_2023_10["ended_at"])

In [26]:
#Checking for null values
Bike_2023_12.isnull().sum()

ride_id                 0
rideable_type           0
started_at              0
ended_at                0
start_station_name      4
start_station_id        4
end_station_name      239
end_station_id        239
start_lat               0
start_lng               0
end_lat                42
end_lng                42
member_casual           0
dtype: int64

In [35]:
#Drop nulls

drop_12 = Bike_2023_12.dropna()
drop_11 = Bike_2023_11.dropna()
drop_10 = Bike_2023_10.dropna()


print(len(drop_12))
print(len(drop_11))
print(len(drop_10))

58438
75400
97204

In [36]:
drop_12.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,DAE3C13A5FAAB089,classic_bike,2023-12-29 16:02:20,2023-12-29 16:10:17,Brunswick St,JC023,Communipaw & Berry Lane,JC084,40.724016,-74.050550,40.714358,-74.066611,member
1,1EC6BE46ACF2DE11,classic_bike,2023-12-06 01:58:32,2023-12-06 02:04:48,Brunswick St,JC023,Oakland Ave,JC022,40.724135,-74.050686,40.737604,-74.052478,casual
2,105CA439B9CBF57C,classic_bike,2023-12-06 20:15:11,2023-12-06 20:21:02,Brunswick St,JC023,Oakland Ave,JC022,40.723990,-74.050639,40.737604,-74.052478,member
3,DC1C46F6090FA1DB,classic_bike,2023-12-09 13:54:19,2023-12-09 13:56:48,Brunswick St,JC023,Manila & 1st,JC082,40.723983,-74.050732,40.721651,-74.042884,casual
4,04EAEAAD6D32A664,classic_bike,2023-12-02 17:30:34,2023-12-02 17:37:26,Brunswick St,JC023,Riverview Park,JC057,40.724011,-74.050686,40.744319,-74.043991,member

In [37]:
drop_11.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,1156A0D0E2EB60CB,classic_bike,2023-11-19 12:08:48,2023-11-19 12:28:53,Jackson Square,JC063,Baldwin at Montgomery,JC020,40.711130,-74.078900,40.723659,-74.064194,casual
1,9A6D99BAED3AE106,classic_bike,2023-11-05 18:21:56,2023-11-05 18:25:36,Madison St & 10 St,HB503,Mama Johnson Field - 4 St & Jackson St,HB404,40.750044,-74.035878,40.743140,-74.040041,casual
2,CC3F75A6310A2625,classic_bike,2023-11-12 11:36:41,2023-11-12 11:42:04,Madison St & 10 St,HB503,Mama Johnson Field - 4 St & Jackson St,HB404,40.750100,-74.035852,40.743140,-74.040041,casual
3,3BF4E21F0D5BCB98,classic_bike,2023-11-08 15:04:23,2023-11-08 15:20:23,Jackson Square,JC063,Hilltop,JC019,40.711130,-74.078900,40.731169,-74.057574,member
4,1B7E5ADCABC46F0E,classic_bike,2023-11-22 09:08:22,2023-11-22 09:14:23,Mama Johnson Field - 4 St & Jackson St,HB404,River St & 1 St,HB609,40.743148,-74.040053,40.737215,-74.028865,member

In [38]:
drop_10.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,56269E94B2206375,classic_bike,2023-10-31 11:52:42,2023-10-31 12:03:33,McGinley Square,JC055,Marin Light Rail,JC013,40.725340,-74.067622,40.714584,-74.042817,member
1,2B2F6514026F5C68,classic_bike,2023-10-16 08:24:33,2023-10-16 08:35:28,Astor Place,JC077,Grove St PATH,JC115,40.719299,-74.071357,40.719410,-74.043090,member
2,3716C0E2166FE548,classic_bike,2023-10-21 11:46:26,2023-10-21 11:56:30,McGinley Square,JC055,Grove St PATH,JC115,40.725428,-74.067577,40.719410,-74.043090,member
3,E06BF0A228598DDF,classic_bike,2023-10-26 09:42:42,2023-10-26 09:51:28,Astor Place,JC077,Marin Light Rail,JC013,40.719267,-74.071328,40.714584,-74.042817,member
4,1EA3E3FFB17B6B16,classic_bike,2023-10-22 13:20:54,2023-10-22 15:00:09,McGinley Square,JC055,Grove St PATH,JC115,40.725340,-74.067622,40.719410,-74.043090,casual

In [39]:
# Cut latitude and longitude down to 2 decimal places
drop_12["start_lat"] = np.floor(drop_12['start_lat'] * 1000) / 1000
drop_12["start_lng"] = np.floor(drop_12["start_lng"] * 1000) / 1000
drop_12["end_lat"] = np.floor(drop_12["end_lat"] * 1000) / 1000
drop_12["end_lng"] = np.floor(drop_12["end_lng"] * 1000) / 1000

/var/folders/zh/1g9r_87s0_b2prpx9v3501kr0000gn/T/ipykernel_32654/2999248102.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drop_12["start_lat"] = np.floor(drop_12['start_lat'] * 1000) / 1000
/var/folders/zh/1g9r_87s0_b2prpx9v3501kr0000gn/T/ipykernel_32654/2999248102.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drop_12["start_lng"] = np.floor(drop_12["start_lng"] * 1000) / 1000
/var/folders/zh/1g9r_87s0_b2prpx9v3501kr0000gn/T/ipykernel_32654/2999248102.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drop_12["end_lat"] = np.floor(drop_12["end_lat"] * 1000) / 1000
/var/folders/zh/1g9r_87s0_b2prpx9v3501kr0000gn/T/ipykernel_32654/2999248102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drop_12["end_lng"] = np.floor(drop_12["end_lng"] * 1000) / 1000

In [40]:
# Cut latitude and longitude down to 2 decimal places
drop_11["start_lat"] = np.floor(drop_11['start_lat'] * 1000) / 1000
drop_11["start_lng"] = np.floor(drop_11["start_lng"] * 1000) / 1000
drop_11["end_lat"] = np.floor(drop_11["end_lat"] * 1000) / 1000
drop_11["end_lng"] = np.floor(drop_11["end_lng"] * 1000) / 1000

/var/folders/zh/1g9r_87s0_b2prpx9v3501kr0000gn/T/ipykernel_32654/2903223704.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drop_11["start_lat"] = np.floor(drop_11['start_lat'] * 1000) / 1000
/var/folders/zh/1g9r_87s0_b2prpx9v3501kr0000gn/T/ipykernel_32654/2903223704.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drop_11["start_lng"] = np.floor(drop_11["start_lng"] * 1000) / 1000
/var/folders/zh/1g9r_87s0_b2prpx9v3501kr0000gn/T/ipykernel_32654/2903223704.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drop_11["end_lat"] = np.floor(drop_11["end_lat"] * 1000) / 1000
/var/folders/zh/1g9r_87s0_b2prpx9v3501kr0000gn/T/ipykernel_32654/2903223704.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drop_11["end_lng"] = np.floor(drop_11["end_lng"] * 1000) / 1000

In [41]:
# Cut latitude and longitude down to 2 decimal places
drop_10["start_lat"] = np.floor(drop_10['start_lat'] * 1000) / 1000
drop_10["start_lng"] = np.floor(drop_10["start_lng"] * 1000) / 1000
drop_10["end_lat"] = np.floor(drop_10["end_lat"] * 1000) / 1000
drop_10["end_lng"] = np.floor(drop_10["end_lng"] * 1000) / 1000

/var/folders/zh/1g9r_87s0_b2prpx9v3501kr0000gn/T/ipykernel_32654/594020698.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drop_10["start_lat"] = np.floor(drop_10['start_lat'] * 1000) / 1000
/var/folders/zh/1g9r_87s0_b2prpx9v3501kr0000gn/T/ipykernel_32654/594020698.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drop_10["start_lng"] = np.floor(drop_10["start_lng"] * 1000) / 1000
/var/folders/zh/1g9r_87s0_b2prpx9v3501kr0000gn/T/ipykernel_32654/594020698.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drop_10["end_lat"] = np.floor(drop_10["end_lat"] * 1000) / 1000
/var/folders/zh/1g9r_87s0_b2prpx9v3501kr0000gn/T/ipykernel_32654/594020698.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drop_10["end_lng"] = np.floor(drop_10["end_lng"] * 1000) / 1000

In [42]:
drop_12.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,DAE3C13A5FAAB089,classic_bike,2023-12-29 16:02:20,2023-12-29 16:10:17,Brunswick St,JC023,Communipaw & Berry Lane,JC084,40.724,-74.051,40.714,-74.067,member
1,1EC6BE46ACF2DE11,classic_bike,2023-12-06 01:58:32,2023-12-06 02:04:48,Brunswick St,JC023,Oakland Ave,JC022,40.724,-74.051,40.737,-74.053,casual
2,105CA439B9CBF57C,classic_bike,2023-12-06 20:15:11,2023-12-06 20:21:02,Brunswick St,JC023,Oakland Ave,JC022,40.723,-74.051,40.737,-74.053,member
3,DC1C46F6090FA1DB,classic_bike,2023-12-09 13:54:19,2023-12-09 13:56:48,Brunswick St,JC023,Manila & 1st,JC082,40.723,-74.051,40.721,-74.043,casual
4,04EAEAAD6D32A664,classic_bike,2023-12-02 17:30:34,2023-12-02 17:37:26,Brunswick St,JC023,Riverview Park,JC057,40.724,-74.051,40.744,-74.044,member

In [43]:
drop_11.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,1156A0D0E2EB60CB,classic_bike,2023-11-19 12:08:48,2023-11-19 12:28:53,Jackson Square,JC063,Baldwin at Montgomery,JC020,40.711,-74.079,40.723,-74.065,casual
1,9A6D99BAED3AE106,classic_bike,2023-11-05 18:21:56,2023-11-05 18:25:36,Madison St & 10 St,HB503,Mama Johnson Field - 4 St & Jackson St,HB404,40.750,-74.036,40.743,-74.041,casual
2,CC3F75A6310A2625,classic_bike,2023-11-12 11:36:41,2023-11-12 11:42:04,Madison St & 10 St,HB503,Mama Johnson Field - 4 St & Jackson St,HB404,40.750,-74.036,40.743,-74.041,casual
3,3BF4E21F0D5BCB98,classic_bike,2023-11-08 15:04:23,2023-11-08 15:20:23,Jackson Square,JC063,Hilltop,JC019,40.711,-74.079,40.731,-74.058,member
4,1B7E5ADCABC46F0E,classic_bike,2023-11-22 09:08:22,2023-11-22 09:14:23,Mama Johnson Field - 4 St & Jackson St,HB404,River St & 1 St,HB609,40.743,-74.041,40.737,-74.029,member

In [44]:
drop_10.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,56269E94B2206375,classic_bike,2023-10-31 11:52:42,2023-10-31 12:03:33,McGinley Square,JC055,Marin Light Rail,JC013,40.725,-74.068,40.714,-74.043,member
1,2B2F6514026F5C68,classic_bike,2023-10-16 08:24:33,2023-10-16 08:35:28,Astor Place,JC077,Grove St PATH,JC115,40.719,-74.072,40.719,-74.044,member
2,3716C0E2166FE548,classic_bike,2023-10-21 11:46:26,2023-10-21 11:56:30,McGinley Square,JC055,Grove St PATH,JC115,40.725,-74.068,40.719,-74.044,member
3,E06BF0A228598DDF,classic_bike,2023-10-26 09:42:42,2023-10-26 09:51:28,Astor Place,JC077,Marin Light Rail,JC013,40.719,-74.072,40.714,-74.043,member
4,1EA3E3FFB17B6B16,classic_bike,2023-10-22 13:20:54,2023-10-22 15:00:09,McGinley Square,JC055,Grove St PATH,JC115,40.725,-74.068,40.719,-74.044,casual

In [45]:
#Convert dataframe to csv 
os.makedirs('Clean_Resources', exist_ok=True)  
drop_12.to_csv('Clean_Resources/Clean_2023_12.csv')  
drop_11.to_csv('Clean_Resources/Clean_2023_11.csv')
drop_10.to_csv('Clean_Resources/Clean_2023_10.csv')

In [51]:
month_join = pd.concat([drop_12,drop_11,drop_10],ignore_index=False)

In [52]:
month_join.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,DAE3C13A5FAAB089,classic_bike,2023-12-29 16:02:20,2023-12-29 16:10:17,Brunswick St,JC023,Communipaw & Berry Lane,JC084,40.724,-74.051,40.714,-74.067,member
1,1EC6BE46ACF2DE11,classic_bike,2023-12-06 01:58:32,2023-12-06 02:04:48,Brunswick St,JC023,Oakland Ave,JC022,40.724,-74.051,40.737,-74.053,casual
2,105CA439B9CBF57C,classic_bike,2023-12-06 20:15:11,2023-12-06 20:21:02,Brunswick St,JC023,Oakland Ave,JC022,40.723,-74.051,40.737,-74.053,member
3,DC1C46F6090FA1DB,classic_bike,2023-12-09 13:54:19,2023-12-09 13:56:48,Brunswick St,JC023,Manila & 1st,JC082,40.723,-74.051,40.721,-74.043,casual
4,04EAEAAD6D32A664,classic_bike,2023-12-02 17:30:34,2023-12-02 17:37:26,Brunswick St,JC023,Riverview Park,JC057,40.724,-74.051,40.744,-74.044,member

In [54]:
print(len(month_join))
print(len(drop_11) + len(drop_12) +len(drop_10))

231042
231042

In [55]:
month_join.to_csv('Clean_Resources/Clean_2023_10_12.csv')